:root{
    --light-black:#333333;
}
body{
    margin: 0;
    padding: 0  ;
    height: 100%;
}

.container{
    margin: auto;
    width: 90vw;
}

.inner-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    max-width: 90%;
    height: 70vh;
}

header h3{
    font-size: 19px;
    font-weight:600;
    font-family: 'Chakra Petch', sans-serif;
    margin-left: 5%;
}

main {
    max-width: 50%;
    height: 60vh;
}

main h1{
    font-size: 51px;
    font-weight:600;
    font-family: 'Chakra Petch', sans-serif;
    color: var(--light-black);
    letter-spacing: 4%;
    max-width: 12ch;
}

main p {
    font-family:'PT Mono', monospace;
    font-size:22px;
    color: var(--light-black);
    line-height: 142.5%;
    max-width: 26ch;
    margin-bottom: 50px;
}

main a {
    background-color: var(--light-black);
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 600px;
    padding: 3% 6%;
    
}



 img{
    /*padding-top: 5%;*/
    width: 50%;
    height: 100%;
}

@media only screen and (max-width: 800px) {
    main h1{
        font-size: 35px;
    }
    main p{
        font-size: 14px;
        margin-bottom: 30px;
    }
    main a{
        font-size: 12px;
    }
    header h3{
        font-size:14px ;
    }
     img{
        width: 50%;
        height: 60%;
    }
  }

  @media only screen and (max-width: 527px) {
    main h1{
        font-size: 28px;
    }
    main p{
        font-size: 10px;
        margin-bottom: 30px;
    }
    main a{
        font-size: 10px;
    }
    header h3{
        font-size:12px ;
    }
     img{
        width: 50%;
        height: 45%;
    }
  }
